*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background-image:url(cloud1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden;
}


.nav-item{
    margin-left: 40px !important;
    margin-bottom: 10px !important;
}

.nav-link{
    color: brown !important;
    font-size: 21px !important;
    padding: 0 0 5px 0 !important;
    display: unset;
    font-weight:500;
    letter-spacing: .5px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    transition: .3s linear;
}

.navbar-brand img{
    width: 300px;
}

.active-home{
    border-bottom: 2px solid brown;
   
}

.nav-link:hover{
    border-bottom: 2px solid brown;
}

